/* GLOBAL */
body {
    font-family: 'Poppins', sans-serif;
    background:  rgb(146, 174, 239);
    color: white;
    scroll-behavior: smooth;

}
/* NAVBAR */
.custom-navbar {
    background: rgba(67, 67, 115, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.nav-link {
    color: #bbb;
    margin: 0 10px;
    position: relative;
}

.nav-link:hover {
    color: white;
}

/* HERO */
.hero {
    background: radial-gradient(circle at top,  rgb(146, 174, 239));
}

.hero h1 {
    font-size: 3rem;
}

.accent {
    color: #00d4ff;
}

/* BUTTON */
.btn-custom {
    background: #00d4ff;
    border: none;
    color: black;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-custom:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00d4ff;
}


.section.dark {
    background: rgb(146, 174, 239);
}

/* SKILLS */
.skill {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.skill:hover {
    transform: translateY(-5px);
    background: rgba(0,212,255,0.1);
}

/* PROJECTS */
.project-card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
/* On cible l'image spécifiquement à l'intérieur de la card */
.card .card-body .card-img-top {
    transition: transform 0.3s ease-in-out !important;
    cursor: zoom-in;
}

.card .card-body .card-img-top:hover {
    transform: scale(1.8) !important; /* On augmente un peu pour bien voir l'effet */
    z-index: 999;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.card {
    overflow: visible !important;
}
.card-body {
    overflow: visible !important;
}